html,
body {
    font-family: Helvetica, Arial, 'Microsoft Yahei', å¾®è½¯é›…é»‘, STHeiti, åŽæ–‡ç»†é»‘, sans-serif;
}

.topnav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
    z-index: 999;
}

.topnav-content-left {
    float: left;
}

.topnav-logo {
    float: left;
    margin-top: 5px;
    margin-left: 30px;
}

.topnav-logo img {
    width: 160px;
    height: 56px;
}

.nav-top-items {
    float: left;
}

.nav-top-items li {
    position: relative;
    float: left;
    padding: 0 10px;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin: 18px 15px 0;
}

.nav-top-items li:hover {
    border-bottom: 4px solid white;
}

.nav-top-items li a {
    color: #fff;
}


/* 顶部导航右边 */
.topnav-content-right {
    float: right;
    padding-right: 72px;
}

.topnav-content-right-items li{

    float: left;
    color: #fff;
    margin: 18px 8px 0;
    line-height: 25px;
}

.search {
    position: relative;
    width: 250px;
    height: 25px;
    border: 1px solid #fff;
    line-height: 25px;
}

.search span {
    position: absolute;
    padding-left: 5px;
    line-height: 27px;
}

.search input {
    border: none;
    width: 100%;
    padding-left: 35px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0);
    height: 100%;
    color: #fff;
}

.topnav-content-right-items .zhuceleft {
    display: block;
    height: 16px;
    border-left: 2px solid white;
    margin-top: 23px;
}

.login {
    font-size: 16px;
    margin-top: 23px;
}

.login a {
    color: #fff;
}

.show {
    position: absolute;
    left: 0;
    bottom: -64px;
    width: 92px;
    height: 60px;
    line-height: 60px;
    background-color: #000;
    text-align: center;
    display: none;
}


/* 第二部分 轮播图 */
.slider {
    height: 630px;
}

.swiper-container {
    width: 100%;
    height: 630px;
} 

.swiper-slide img {
    width: 100%;
    height: 100%;
}

.swiper .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
}

/* 第三部分css */
.photographic_works-content {
    overflow: hidden;
}

.photographic_works-content-title {
    line-height: 47px;
    margin: 70px 0 50px;
    text-align: center;
}

.photographic_works-content-title h2 {
    font-size: 36px;
    font-weight: normal;
}

.photographic_works-content-nav-items {
    text-align: center;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 50px;
}

.photographic_works-content-nav-items li{
    display: inline-block;
    font-size: 16px;
    padding: 0 3px;
    margin: 0 30px;
    line-height: 32px;
    cursor: pointer;
    color: #999;
}

.photographic_works-content-nav-items li.current {
    color: orangered;
    border-bottom: 2px solid #ff5a00;
    margin-bottom: -1px;
}

.photographic_works-content-img-items li{
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0px 0px 8px 6px;
}

.photographic_works-content-img-items li img {
    height: 100%;
    width: 100%;
}

.photographic_works-content-img {
    padding: 0px 50px;
}

.photographic_works-content-img-items:nth-child(1) li:nth-child(-n+6) {
    height: 251px;
}

.photographic_works-content-img-items:nth-child(1) li:nth-child(1) {
    width: 402px;
}

.photographic_works-content-img-items:nth-child(1) li:nth-child(2) {
    width: 259px;
}

.photographic_works-content-img-items:nth-child(1) li:nth-child(3) {
    width: 446px;
}

.photographic_works-content-img-items:nth-child(1) li:nth-child(4) {
    width: 142px;
}

.photographic_works-content-img-items:nth-child(1) li:nth-child(5) {
    width: 141px;
}

.photographic_works-content-img-items:nth-child(1) li:nth-child(6) {
    width: 376px;
}   


/* 第二排 */
.photographic_works-content-img-items:nth-child(1) li:nth-child(-n+11):nth-child(n+7) {
    height: 283px;
}

.photographic_works-content-img-items:nth-child(1) li:nth-child(7) {
    width: 465px;
}

.photographic_works-content-img-items:nth-child(1) li:nth-child(8) {
    width: 191px;
}

.photographic_works-content-img-items:nth-child(1) li:nth-child(9) {
    width: 503px;
}

.photographic_works-content-img-items:nth-child(1) li:nth-child(10) {
    width: 425px;
}

.photographic_works-content-img-items:nth-child(1) li:nth-child(11) {
    width: 188px;
}



/* 第三排 */
.photographic_works-content-img-items:nth-child(1) li:nth-child(-n+16):nth-child(n+12) {
    height: 295px;
}

.photographic_works-content-img-items:nth-child(1) li:nth-child(12) {
    width: 196px;
}

.photographic_works-content-img-items:nth-child(1) li:nth-child(13) {
    width: 525px;
}

.photographic_works-content-img-items:nth-child(1) li:nth-child(14) {
    width: 443px;
}

.photographic_works-content-img-items:nth-child(1) li:nth-child(15) {
    width: 443px;
}

.photographic_works-content-img-items:nth-child(1) li:nth-child(16) {
    width: 166px;
}


/* 第四排 */
.photographic_works-content-img-items:nth-child(1) li:nth-child(-n+20):nth-child(n+17) {
    height: 231px;
}

.photographic_works-content-img-items:nth-child(1) li:nth-child(17) {
    width: 347px;
}

.photographic_works-content-img-items:nth-child(1) li:nth-child(18) {
    width: 497px;
}

.photographic_works-content-img-items:nth-child(1) li:nth-child(19) {
    width: 506px;
}

.photographic_works-content-img-items:nth-child(1) li:nth-child(20) {
    width: 422px;
}


/* 第五排 */
.photographic_works-content-img-items:nth-child(1) li:nth-child(-n+25):nth-child(n+21) {
    height: 248px;
}

.photographic_works-content-img-items:nth-child(1) li:nth-child(21) {
    width: 372px;
}

.photographic_works-content-img-items:nth-child(1) li:nth-child(22) {
    width: 165px;
}

.photographic_works-content-img-items:nth-child(1) li:nth-child(23) {
    width: 356px;
}

.photographic_works-content-img-items:nth-child(1) li:nth-child(24) {
    width: 436px;
}

.photographic_works-content-img-items:nth-child(1) li:nth-child(25) {
    width: 441px;
}


/* 第六排 */
.photographic_works-content-img-items:nth-child(1) li:nth-child(-n+30):nth-child(n+26) {
    height: 257px;
}

.photographic_works-content-img-items:nth-child(1) li:nth-child(26) {
    width: 444px;
}

.photographic_works-content-img-items:nth-child(1) li:nth-child(27) {
    width: 383px;
}

.photographic_works-content-img-items:nth-child(1) li:nth-child(28) {
    width: 386px;
}

.photographic_works-content-img-items:nth-child(1) li:nth-child(29) {
    width: 171px;
}

.photographic_works-content-img-items:nth-child(1) li:nth-child(30) {
    width: 386px;
}

.photographic_works-bottom {
    text-align: center;
}

.photographic_works-bottom span {
    height: 35px;
    border: 1px solid #ff5a00;
    font-size: 16px;
    color: #ff5a00;
    display: inline-block;
    line-height: 35px;
    padding: 0 50px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 3px;
}

.photography_competition {
    overflow: hidden;
    height: 550px;
    background-color: #f8f8f8;
}

.photography_competition-title h2 {
    width: 100%;
    font-size: 36px;
    text-align: center;
    margin: 50px 0;
    margin-top: 70px;
    font-weight: 500;
    color: #333333;
}

.photography_competition-slider {
    height: 288px;
}

.photography_competition-slider .swiper-container {
    width: 100%;
    height: 288px;
}

.photography_competition .swiper-button-next{
    right: -80px;
    top: 63%;
}

.photography_competition .swiper-button-prev{
    left: -80px;
    top: 63%;
}

.img-items-bottomtext {
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6));
}

.img-items-bottomtext span {
    margin-left: 30px;
    line-height: 40px;
}

.img-items-bottomtext span a {
    color: #fff;
    font-size: 16px;
}

.photographic_works-content-img-items {
    display: none;
}

.photographic_works-content-img-items.active {
    display: block;
}



.photographic_works-content-img-items:nth-child(2) li:nth-child(-n+7) {
    height: 248px;
}

.photographic_works-content-img-items:nth-child(2) li:nth-child(1) {
    width: 331px;
}

.photographic_works-content-img-items:nth-child(2) li:nth-child(2) {
    width: 186px;
}

.photographic_works-content-img-items:nth-child(2) li:nth-child(3) {
    width: 165px;
}

.photographic_works-content-img-items:nth-child(2) li:nth-child(4) {
    width: 372px;
}

.photographic_works-content-img-items:nth-child(2) li:nth-child(5) {
    width: 165px;
}

.photographic_works-content-img-items:nth-child(2) li:nth-child(6) {
    width: 166px;
}   
.photographic_works-content-img-items:nth-child(2) li:nth-child(7) {
    width: 372px;
}   


/* 第二排 */
.photographic_works-content-img-items:nth-child(2) li:nth-child(-n+12):nth-child(n+8) {
    height: 245px;
}

.photographic_works-content-img-items:nth-child(2) li:nth-child(8) {
    width: 163px;
}

.photographic_works-content-img-items:nth-child(2) li:nth-child(9) {
    width: 368px;
}

.photographic_works-content-img-items:nth-child(2) li:nth-child(10) {
    width: 436px;
}

.photographic_works-content-img-items:nth-child(2) li:nth-child(11) {
    width: 436px;
}

.photographic_works-content-img-items:nth-child(2) li:nth-child(12) {
    width: 368px;
}



/* 第三排 */
.photographic_works-content-img-items:nth-child(2) li:nth-child(-n+17):nth-child(n+13) {
    height: 272px;
}

.photographic_works-content-img-items:nth-child(2) li:nth-child(13) {
    width: 181px;
}

.photographic_works-content-img-items:nth-child(2) li:nth-child(14) {
    width: 408px;
}

.photographic_works-content-img-items:nth-child(2) li:nth-child(15) {
    width: 408px;
}

.photographic_works-content-img-items:nth-child(2) li:nth-child(16) {
    width: 362px;
}

.photographic_works-content-img-items:nth-child(2) li:nth-child(17) {
    width: 408px;
}


/* 第四排 */
.photographic_works-content-img-items:nth-child(2) li:nth-child(-n+22):nth-child(n+18) {
    height: 242px;
}

.photographic_works-content-img-items:nth-child(2) li:nth-child(18) {
    width: 182px;
}

.photographic_works-content-img-items:nth-child(2) li:nth-child(19) {
    width: 430px;
}

.photographic_works-content-img-items:nth-child(2) li:nth-child(20) {
    width: 430px;
}

.photographic_works-content-img-items:nth-child(2) li:nth-child(21) {
    width: 363px;
}

.photographic_works-content-img-items:nth-child(2) li:nth-child(22) {
    width: 363px;
}


/* 第五排 */
.photographic_works-content-img-items:nth-child(2) li:nth-child(-n+26):nth-child(n+23) {
    height: 300px;
}

.photographic_works-content-img-items:nth-child(2) li:nth-child(23) {
    width: 594px;
}

.photographic_works-content-img-items:nth-child(2) li:nth-child(24) {
    width: 400px;
}

.photographic_works-content-img-items:nth-child(2) li:nth-child(25) {
    width: 548px;
}

.photographic_works-content-img-items:nth-child(2) li:nth-child(26) {
    width: 225px;
}



/* 第六排 */
.photographic_works-content-img-items:nth-child(2) li:nth-child(-n+30):nth-child(n+27) {
    height: 282px;
}

.photographic_works-content-img-items:nth-child(2) li:nth-child(27) {
    width: 376px;
}

.photographic_works-content-img-items:nth-child(2) li:nth-child(28) {
    width: 392px;
}

.photographic_works-content-img-items:nth-child(2) li:nth-child(29) {
    width: 188px;
}

.photographic_works-content-img-items:nth-child(2) li:nth-child(30) {
    width: 180px;
}

.photographic_works-content-img-items:nth-child(2) li:nth-child(31) {
    width: 207px;
}

.photographic_works-content-img-items:nth-child(2) li:nth-child(32) {
    width: 423px;
}










/* 第三个tab */
.photographic_works-content-img-items:nth-child(3) li:nth-child(-n+5) {
    height: 256px;
}

.photographic_works-content-img-items:nth-child(3) li:nth-child(1) {
    width: 170px;
}

.photographic_works-content-img-items:nth-child(3) li:nth-child(2) {
    width: 461px;
}

.photographic_works-content-img-items:nth-child(3) li:nth-child(3) {
    width: 342px;
}

.photographic_works-content-img-items:nth-child(3) li:nth-child(4) {
    width: 342px;
}

.photographic_works-content-img-items:nth-child(3) li:nth-child(5) {
    width: 455px;
}




/* 第二排 */
.photographic_works-content-img-items:nth-child(3) li:nth-child(-n+10):nth-child(n+6) {
    height: 289px;
}

.photographic_works-content-img-items:nth-child(3) li:nth-child(6) {
    width: 217px;
}   
.photographic_works-content-img-items:nth-child(3) li:nth-child(7) {
    width: 217px;
}   

.photographic_works-content-img-items:nth-child(3) li:nth-child(8) {
    width: 514px;
}

.photographic_works-content-img-items:nth-child(3) li:nth-child(9) {
    width: 434px;
}

.photographic_works-content-img-items:nth-child(3) li:nth-child(10) {
    width: 386px;
}




/* 第三排 */
.photographic_works-content-img-items:nth-child(3) li:nth-child(-n+15):nth-child(n+11) {
    height: 254px;
}

.photographic_works-content-img-items:nth-child(3) li:nth-child(11) {
    width: 452px;
}

.photographic_works-content-img-items:nth-child(3) li:nth-child(12) {
    width: 203px;
}

.photographic_works-content-img-items:nth-child(3) li:nth-child(13) {
    width: 406px;
}

.photographic_works-content-img-items:nth-child(3) li:nth-child(14) {
    width: 361px;
}

.photographic_works-content-img-items:nth-child(3) li:nth-child(15) {
    width: 347px;
}




/* 第四排 */
.photographic_works-content-img-items:nth-child(3) li:nth-child(-n+20):nth-child(n+16) {
    height: 298px;
}

.photographic_works-content-img-items:nth-child(3) li:nth-child(16) {
    width: 390px;
}

.photographic_works-content-img-items:nth-child(3) li:nth-child(17) {
    width: 224px;
}

.photographic_works-content-img-items:nth-child(3) li:nth-child(18) {
    width: 510px;
}

.photographic_works-content-img-items:nth-child(3) li:nth-child(19) {
    width: 198px;
}

.photographic_works-content-img-items:nth-child(3) li:nth-child(20) {
    width: 447px;
}




/* 第五排 */
.photographic_works-content-img-items:nth-child(3) li:nth-child(-n+25):nth-child(n+21) {
    height: 227px;
}

.photographic_works-content-img-items:nth-child(3) li:nth-child(21) {
    width: 411px;
}

.photographic_works-content-img-items:nth-child(3) li:nth-child(22) {
    width: 411px;
}

.photographic_works-content-img-items:nth-child(3) li:nth-child(23) {
    width: 411px;
}

.photographic_works-content-img-items:nth-child(3) li:nth-child(24) {
    width: 366px;
}

.photographic_works-content-img-items:nth-child(3) li:nth-child(25) {
    width: 171px;
}





/* 第六排 */
.photographic_works-content-img-items:nth-child(3) li:nth-child(-n+30):nth-child(n+26) {
    height: 265px;
}

.photographic_works-content-img-items:nth-child(3) li:nth-child(26) {
    width: 398px;
}

.photographic_works-content-img-items:nth-child(3) li:nth-child(27) {
    width: 398px;
}

.photographic_works-content-img-items:nth-child(3) li:nth-child(28) {
    width: 177px;
}

.photographic_works-content-img-items:nth-child(3) li:nth-child(29) {
    width: 198px;
}

.photographic_works-content-img-items:nth-child(3) li:nth-child(30) {
    width: 198px;
}


/* 第四部分摄影大赛css */
.swiper-slide {
    position: relative;
}

.swiper-slide-mask-text{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.mask-text-center {
    position: absolute;
    left: 50%;
    top: 40%;
    width: 330px;
    transform: translate(-50%,-50%);
    text-align: center;
}

.mask-text-center h2 { 
    font-size: 28px;
    color: #fff;
    font-weight: normal;
}

.left-after {
    position: absolute;
    left: 55px;
    top: 40px;
    width: 100px;
    height: 1px;
    border-bottom: 1px solid #fff;
}

.right-after {
    position: absolute;
    right: 55px;
    top: 40px;
    width: 100px;
    height: 1px;
    border-bottom: 1px solid #fff;
}

.center-after {
    position: absolute;
    left: 164px;
    top: 39px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #fff;
}

.text-center-bottom {
    position: absolute;
    width: 250px;
    bottom: -42px;
    font-size: 14px;
    color: #fff;
    left: 50%;
    transform: translate(-50%,-50%);
}

.mask-text-bottom {
    position: absolute;
    bottom:10px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    font-size: 14px;
    padding-left: 30px;
    background: url(../images/photograph/photography_competition_slider-bottom-left.png) no-repeat;
    background-position: 0px -13px;
}

.bottom-right {
    position: absolute;
    right: 10px;
    bottom: 0px;
    height: 20px;
    line-height: 20px;
    padding-left: 20px;
    background: url(../images/photograph/photography_competition_slider-bottom-right.png) no-repeat;
}

.swiper-slide-mask-text a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.photographic_routes-content-title {
    line-height: 41px;
    margin: 70px 0 50px;

}

.photographic_routes-content-title h2 {
    text-align: center;
    font-size: 36px;
    font-weight: normal;
}

.photographic_routes-content-nav-items {
    padding: 0 14px;
    margin-bottom: 32px;
}

.photographic_routes-content-nav-items li{
    display: inline-block;
    line-height: 24px;
    height: 24px;
    color: #999;
    font-size: 16px;
    cursor: pointer;
    margin: 0 25px;
}

.photographic_routes-content-nav-items li.current {
    color: #ff5a00;
}

.photographic_routes-content-routes-items {
    position: relative;
    float: left;
    overflow: hidden;
}

.photographic_routes-content-routes-items img {
    width: 100%;
    height: 100%;
}

.photographic_routes-content-routes-items:nth-child(1),
.photographic_routes-content-routes-items:nth-child(2) {
    height: 285px;
}

.photographic_routes-content-routes-items:nth-child(1) {
    width: 550px;
}

.photographic_routes-content-routes-items:nth-child(2) {
    width: 640px;
    margin-left: 10px;
}

.photographic_routes-content-routes-items:nth-child(3) {
    width: 370px;
    height: 440px;
    margin-top: 10px;
}

.photographic_routes-content-routes-items:nth-child(4),
.photographic_routes-content-routes-items:nth-child(7) {
    width: 440px;
    height: 215px;
    margin-top: 10px;
    margin-left: 10px;
}

.photographic_routes-content-routes-items:nth-child(5),
.photographic_routes-content-routes-items:nth-child(6) {
    width: 370px;
    height: 215px;
    margin-top: 10px;
    margin-left: 10px;
}

.routes-items-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    z-index: 99;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
}

.routes-items-bottom-left {
    position: absolute;
    bottom: -82px;
    left: 0;
    float: left;
    width: 60%;
    margin-left: 18px;
}

.routes-items-bottom-left a {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
}

.routes-items-bottom-right {
    float: right;
    margin-top: 7.5px;
    margin-right: 10px;
    line-height: 25px;
    background-color: red;
    border-radius: 3px;
    padding: 0 5px;
}

.routes-items-bottom-right a {
    color: white;
    font-size: 16px;
}

.photographic_routes-content-routes ul {
    display: none;
    height: 735px;
}

.photographic_routes-content-routes-items img {
    transform: scale(1);
    transition: all .5s;
}

.photographic_routes-content-routes ul.active {
    display: block;
}


/* 摄影游记部分css */
.Photography {
    background-color: #f8f8f8;
}

.Photography-content {
    overflow: hidden;
}

.Photography-content-title{
    width: 100%;
    font-size: 36px;
    text-align: center;
    margin: 50px 0;
    margin-top: 70px;
    font-weight: 500;
    line-height: 47px;
}

.Photography-content-title h2 {
    font-weight: normal;
    color: #42be7c;
}

.Photography-content-general li {
    width: 290px;
    height: 260px;
    float: left;
    background-color: #fff;
    margin-top: 20px;
    margin-left: 10px;
}

.Photography-content-general li:nth-child(-n+4) {
    margin-top: 0;
}

.Photography-content-general li:nth-child(1),
.Photography-content-general li:nth-child(5) {
    margin-left: 0;
}

.Photography-content-general li img {
    width: 100%;
    height: 100%;
}

.general-items-top {
    width: 100%;
    height: 160px;
}

.general-items-bottom {
    position: relative;
    padding: 0 15px;
    box-sizing: border-box;
}

.touxiang {
    position: absolute;
    left: 12px;
    top: 0;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    border: 1px solid #eee;
    box-sizing: border-box;
    border-radius: 50%;
    overflow: hidden;
}

.touxiang a {
    display: inline-block;
    width: 100%;
    height: 100%;
}


.general-items-bottom span{
    display: inline-block;
    color: #646464;
    width: 260px;
    font-size: 16px;
    line-height: 25px;
    margin-top: 36px;
}

.general-items-bottom span a {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.id {
    position: absolute;
    left: 70px;
    top: 5px;
}

.Photography .photographic_works-bottom{
    border-color: #42be7c;
    color: #42be7c;
}

.travelgirl-content-title {
    margin-bottom: 55px;
    margin-top: 80px;
    line-height: 38px;
}

.travelgirl-content-title h2 {
    font-size: 36px;
    color: #000;
    text-align: center;
    font-weight: normal;
}

.travelgirl-content-general-items {
    position: relative;
    float: left;
    width: 190px;
    height: 190px;
    margin-right: 12px;
    margin-bottom: 12px;
}

.travelgirl-content-general-items img {
    width: 100%;
    height: 100%;
}

.travelgirl-content-general-items:nth-child(6n) {
    margin-right: 0;
}

.travelgirl-items-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
}

.travelgirl-items-mask a {
    position: absolute;
    line-height: 25px;
    left: 20px;
    top: 20px;
    color: #fff;
    font-size: 16px;
}


/* 底部部分css */
footer {
    background-color: #323232;
    overflow: hidden;
}
.footer-content {
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
    padding: 20px 0;
 }

.footer-content p {
    line-height: 25px;
    color: #b9b9b9;
    font-size: 14px;
}

.footer-content p a {
    color: #b9b9b9;
    margin: 0 8px;
    font-size: 14px;
}

.footer-content p a:hover {
    color: #ff4500;
}

.security_identification{
    display: inline-block;
    margin: 20px 0;
}